<div>
	<div class="metric-opt">
		<!--<form novalidate [formGroup]="form">
			<input
				#percentileBox
				formControlName="percentileBox"
				type="number"
			/>
		</form>
		<span
			*ngIf="formErrors.percentileBox">
			{{ formErrors.percentileBox }}
		</span>
		<div *ngIf="!formErrors.percentileBox">
			<button (click)="addPercentile(percentileBox.value)">Add</button>
		</div>-->
		<span class="opt-title">Percentile:</span>
		<div class="add-percentile">
			<div class="input">
				<input
					#percentileBox
					type="number"
				/>
			</div>
			<div class="icon" (click)="addPercentile(percentileBox.value)">
				<span class="fa fa-plus"></span>
			</div>
		</div>
	</div>
	<div>
		<span *ngFor="let value of percentileValues">
			{{'[' + value + ']'}}
		</span>
	</div>
</div>
