<div>
	<div>
		<h3>Saved Visualizations</h3>
		<ul>
			<li *ngFor="let visualization of savedVisualizations">
				<span (click)="_loadVis(visualization)" style="cursor: pointer; color: blue;">{{visualization._source.title}}</span>
			</li>
		</ul>
	</div>

	<div>
		<h3>Select: </h3>

		<div>
			<span>Index:</span>
			<select
				#index
				[(ngModel)]="_selectedIndex"
				(change)="onIndexChange(index.value)">
				<option
					*ngFor="let index of indexes"
					[value]="index">
						{{index}}
				</option>
			</select>
		</div>

		<div>
			<span>Visualization:</span>
			<select
				[(ngModel)]="_selectedVisualization"
				(change)="onVisChange()">
				<option
					*ngFor="let visualization of visualizations"
					[value]="visualization">
						{{visualization}}
				</option>
			</select>
		</div>

		<dynamic-component
			[componentType]="_cmpType"
			(event)="onEvent($event)"
			(init)="onDynCmpInit()">
		</dynamic-component>
</div>
