<h2>
	{{title}}
</h2>

<h3>Select: </h3>

<p>
	<span>Index:</span>
	<select [(ngModel)]="selectedIndex">
		<option
			*ngFor="let index of indexes"
			[value]="index">
				{{index}}
		</option>
	</select>
</p>

<p>
	<span>Visualization:</span>
	<select [(ngModel)]="selectedVisualization">
		<option
			*ngFor="let visualization of visualizations"
			[value]="visualization">
				{{visualization}}
		</option>
	</select>
</p>

<div *ngIf="selectedVisualization==='Metric'">
	<metrics [index]="selectedIndex"></metrics>
</div>

<div *ngIf="selectedVisualization==='Data Table'">
	<data-table [index]="selectedIndex"></data-table>
</div>
