<!--<div class="container">
	<div class="row row-1">
		<div class="cell1 img-container">
			<img src="../assets/img/sakura.svg"/>
		</div>
		<div class="cell2 title">
				{{title}}
		</div>
	</div>
	<div class="row row-2">
		<div class="cell1 nav">
			<ul class="menu">
				<li><span class="fa fa-eye"></span></li>
				<li><span class="fa fa-delicious"></span></li>
			</ul>
		</div>

		<div class="cell2 main">
			<div class="visualizations">
				<visualizations></visualizations>
			</div>
		</div>
	</div>
</div>-->

<!--<div>
	<div id="left" class="column">
		<div class="top-left">
			<img src="../assets/img/sakura.svg"/>
		</div>
		<div class="bottom">
			<ul class="menu">
				<li><span class="fa fa-eye"></span></li>
				<li><span class="fa fa-delicious"></span></li>
			</ul>
		</div>
	</div>
	<div id="right" class="column">
		<div class="top-right">
			{{title}}
		</div>
		<div class="bottom">
			<visualizations></visualizations>
		</div>
	</div>
</div>-->

<div class="header">
	<div class="img-container"><img src="../assets/img/sakura.svg"/></div>
	<div class="title-container">{{title}}</div>
</div>



<div class="main">
	<div class="nav-bar">
		<ul>
			<li class="nav-item"><span class="fa fa-eye"></span></li>
			<li class="nav-item"><span class="fa fa-delicious"></span></li>
			<li class="nav-void"></li>
		</ul>
	</div>



	<div class="content">
		<visualizations></visualizations>
	</div>
</div>

<!--<footer>
	<p>Footer</p>
</footer>-->
