<div>
	<h4 *ngIf="widgetMode">Metrics: </h4>
	<h3 *ngIf="!widgetMode">Metrics: </h3>
	<div>
		<span>Aggregation:</span>
		<select [(ngModel)]="selectedAggregation">
			<option
				*ngFor="let aggregation of aggregationsArr"
				(change)="onChange($event.target.value)"
				[value]="aggregation.value">
					{{aggregation.label}}
			</option>
		</select>
	</div>

	<div *ngIf="numFields.length>0 && isNumFieldAgg() && selectedAggregation!=='top_hits'">
		<span>Field:</span>
		<select
			[(ngModel)]="selectedNumField">
			<option
				*ngFor="let numField of numFields"
				[value]="numField">
					{{numField}}
			</option>
		</select>
	</div>

	<div *ngIf="selectedAggregation==='percentiles'">
		<percentiles-metric
			[index]="index"
			[numField]="selectedNumField"
			[savedData]="childrenData.percentilesMetricData"
			(resultsEvent)="onResultsEvent($event)">
		</percentiles-metric>
	</div>

	<div *ngIf="selectedAggregation==='percentile_ranks'">
		<percentileRanks-metric
			#percentileRanks
			[index]="index"
			[numField]="selectedNumField"
			[savedData]="childrenData.percentileRanksMetricData"
			(resultsEvent)="onResultsEvent($event)">
		</percentileRanks-metric>
	</div>

	<div *ngIf="selectedAggregation==='top_hits'">
		<topHit-metric
			[index]="index"
			[numFields]="numFields"
			[savedData]="childrenData.topHitMetricData"
			[textFields]="textFields"
			(resultsEvent)="onResultsEvent($event)">
		</topHit-metric>
	</div>

	<div *ngIf="!widgetMode">
		<p>
			<button (click)="processCalculation(null)">Calculate</button>
		</p>

		<div *ngIf="results.length">
			Results:
			<div *ngFor="let result of results">
				<span>{{result.label}}: {{result.result}}</span>
			</div>
		</div>

		<div>
			<form #saveForm>
				<!-- TODO: include validation -->
				<input
					#visTitle
					type="text"
					required
				/>
				<button (click)="save(visTitle.value)">Save</button>
			</form>
		</div>

	</div>

</div>
