<div>
	<h4>Metrics: </h4>
	<p>
		<span>Aggregation:</span>
		<select [(ngModel)]="selectedAggregation">
			<option
				*ngFor="let aggregation of aggregationsArr"
				(change)="onChange($event.target.value)"
				[value]="aggregation">
					{{aggregation}}
			</option>
		</select>
		<select
			*ngIf="isNumFieldAgg() && selectedAggregation!=='Top Hit'"
			[(ngModel)]="selectedNumField">
			<option
				*ngFor="let numField of numFields"
				[value]="numField">
					{{numField}}
			</option>
		</select>
	</p>

	<div *ngIf="selectedAggregation==='Percentiles'">
			<div>
				<form novalidate [formGroup]="form">
					<input
						#percentileBox
						formControlName="percentileBox"
						type="number"
					/>
				</form>
				<span
					*ngIf="formErrors.percentileBox">
					{{ formErrors.percentileBox }}
				</span>
				<div *ngIf="!formErrors.percentileBox">
					<button (click)="addPercentile(percentileBox.value)">Add</button>
				</div>
			</div>
			<div>
				<span *ngFor="let value of percentileValues">
					{{'[' + value + ']'}}
				</span>
			</div>
	</div>

	<div *ngIf="selectedAggregation==='Percentile Ranks'">
			<div>
				<form novalidate [formGroup]="form">
					<input
						#percentileRanks
						formControlName="percentileRanks"
						type="number"
					/>
				</form>
				<span
					*ngIf="formErrors.percentileRanks">
					{{ formErrors.percentileRanks }}
				</span>
				<div *ngIf="!formErrors.percentileRanks">
					<button (click)="addPercentileRank(percentileRanks.value)">Add</button>
				</div>
			</div>
			<div>
				<span *ngFor="let value of percentileRankValues">
					{{'[' + value + ']'}}
				</span>
			</div>
	</div>

	<div *ngIf="selectedAggregation==='Top Hit'">
			<div>
				<span>Field:</span>
				<select
					#selectedTopHit
					(change)="setAggregations()"
					[(ngModel)]="selectedTopHitField">
					<option
						*ngFor="let numField of numFields"
						[value]="numField">
							{{numField}}
					</option>
					<option
						*ngFor="let textField of textFields"
						[value]="textField">
							{{textField}}
					</option>
				</select>
			</div>
			<div>
				<span>Aggregate With:</span>
				<select [(ngModel)]="selectedTopHitAgg">
					<option
						*ngFor="let aggregation of topHitFilteredAggregations"
						(change)="onChange($event.target.value)"
						[value]="aggregation">
							{{aggregation}}
					</option>
				</select>
			</div>
			<div>
				<form novalidate [formGroup]="form">
					<input
						#topHits
						[(ngModel)]="hitsSize"
						formControlName="topHits"
						type="number"
					/>
				</form>
				<span
					*ngIf="formErrors.topHits">
					{{ formErrors.topHits }}
				</span>
			</div>
			<div>
				<span>Sort On:</span>
				<select
					[(ngModel)]="selectedSortField">
					<option
						*ngFor="let numField of numFields"
						[value]="numField">
							{{numField}}
					</option>
					<option
						*ngFor="let textField of textFields"
						[value]="textField">
							{{textField}}
					</option>
				</select>
			</div>
			<div>
				<span>Order:</span>
				<select
					[(ngModel)]="selectedOrder">
					<option
						*ngFor="let order of orders"
						[value]="order">
							{{order}}
					</option>
				</select>
			</div>
	</div>

	<p>
		<button (click)="processCalculation()">Calculate</button>
	</p>

	Result: <span *ngFor="let result of results">{{'[' + result + ']'}} </span>
</div>
