<div>
	<h3>Metrics: </h3>

	<dynamic-component
		(event)="onEvent($event)">
	</dynamic-component>

	<div>
		<button (click)="_addMetric(null)">Add Metric</button>
		<button (click)="debug()">Debug</button>
	</div>

	<div>
		<button (click)="_removeAll()">Remove all</button>
	</div>

	<div *ngIf="!widgetMode">
		<div>
			<button (click)="_calculateMetrics()">Calculate</button>
		</div>

		<div *ngIf="results.length" style="margin-top:1rem;margin-bottom:1rem;">
			<div *ngFor="let metricResults of results">
				Results:
				<div *ngFor="let result of metricResults">
					<span>{{result.label}}: {{result.result}}</span>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="!widgetMode">
		<form #saveForm>
			<!-- TODO: include validation -->
			<input
				#visTitle
				type="text"
				required
			/>
			<button (click)="_save(visTitle.value)">Save</button>
		</form>
	</div>
</div>
