<div class="metrics-vis {{(dashMode) ? 'widget' : ''}}">

	<div id="resultsContainer" class="results-container" *ngIf="(!widgetMode && !dashMode)" [style.height.px]="_getHeight('resultsContainer')">
		<!--<div *ngFor="let metricResults of results">
			<div class="metric-result" *ngFor="let result of metricResults">
				<span>{{result.label}}: {{result.result}}</span>
			</div>
		</div>-->
		<div *ngFor="let metricResult of _getResults()" class="result-container">
			<span class="result">{{_formatResult(metricResult.result)}}</span>
			<span class="result-label">{{metricResult.label}}</span>
		</div>
	</div>

	<div [attr.id]="_resultsContainerId" class="results-container" *ngIf="(!widgetMode && dashMode)">
		<div *ngFor="let metricResult of _getResults()" class="result-container">
			<span class="result">{{_formatResult(metricResult.result)}}</span>
			<span class="result-label">{{metricResult.label}}</span>
		</div>
	</div>

	<!--<div *ngIf="!widgetMode">
		<form #saveForm>-->
			<!-- TODO: include validation -->
			<!--<input
				#visTitle
				type="text"
				required
			/>
			<button (click)="_save(visTitle.value)">Save</button>
		</form>
	</div>-->

	<div id="metricsConfig" [style.display]="_getDisplayStyle()">
		<div id="configFunctions" *ngIf="!widgetMode">
			<span (click)="_calculateMetrics()" class="fa fa-play function-icon"></span>
			<span (click)="_save(visTitle.value)" class="fa fa-floppy-o function-icon"></span>
			<!-- TODO: include validation -->
			<input
				#visTitle
				type="text"
				required
			/>
			<!--<div>
				<button (click)="debug()">Debug</button>
			</div>-->
		</div>

		<div
			id="metricsContainer"
			class="{{(!widgetMode) ? 'scrollable' : ''}}"
			[style.height.px]="(!widgetMode && !dashMode) ? _getHeight('metricsContainer') : ''"
		>
			<div class="metrics-header">
				<div class="title">
					Metrics
				</div>

				<div class="metrics-actions">
					<div class="remove-all" (click)="_removeAll()">
						<span class="fa fa-times"></span>
					</div>
					<div class="add-metric" (click)="_addMetric(null)">
						<span class="fa fa-plus"></span>
					</div>
					<div>
						<!--<button (click)="debug()">Debug</button>-->
					</div>
				</div>
			</div>

			<dynamic-component
				(event)="onEvent($event)">
			</dynamic-component>
		</div>
	</div>
</div>
