<div>
	<h3>Data Table: </h3>

	<div style="margin-top: 2rem; margin-bottom: 2rem;">
		<!-- METRICS -->
		<metrics
			[index]="index"
			[widgetMode]="true">
		</metrics>

		<!-- BUCKETS -->
		<buckets
			[index]="index">
		</buckets>
	</div>

<div>
	<div>
		<button (click)="calculate()">Calculate</button>
	</div>
	<div>
		<form #saveForm>
			<!-- TODO: include validation -->
			<input
				#visTitle
				type="text"
				required
			/>
			<button (click)="_save(visTitle.value)">Save</button>
		</form>
	</div>
</div>

<div *ngIf="rows.length>0">
	<dataTable-table
		[columns]="columns"
		[rows]="rows">
	</dataTable-table>
</div>
