<div class="container">
	<div id="configFunctions">
		<span (click)="_save(dashTitle.value)" class="fa fa-floppy-o function-icon"></span>
		<input
			#dashTitle
			type="text"
			required
		/>
		<!--<div>
			<button (click)="debug()">Debug</button>
		</div>-->
	</div>

	<div>
		<div class="section-title" (click)="_displaySavedVis = !_displaySavedVis">
			Saved Visualizations
		</div>
		<div class="saved-vis section-content" *ngIf="_displaySavedVis">
			<ul>
				<li *ngFor="let visualization of _savedVisualizations">
					<div class="option-container">
						<div class="title-container" (click)="_pushGridItem(visualization)">
							<span>{{visualization._source.title}}</span>
						</div>
						<div class="delete-icon-container" (click)="_deleteVis(visualization._source.title)">
							<span class="fa fa-trash-o"></span>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!--<button (click)="_debug()">DEBUG</button>-->
	</div>

	<!--<h1>
		{{getTitle()}}
	</h1>
	<div class="toolbar">
		Lanes:
		<button (click)="removeLine(gridster)">-</button>
		{{ gridsterOptions.lanes }}
		<button (click)="addLine(gridster)">+</button>

		<button (click)="_selectVisModal()">
			Add widget without data
		</button>
		<br>
		<label for="ratio">Ratio</label><input type="number" id="ratio" [(ngModel)]="gridsterOptions.widthHeightRatio" min="0.1"
			(change)="gridster.setOption('widthHeightRatio', gridsterOptions.widthHeightRatio).reload()">

		<input id="draggable" type="checkbox" [(ngModel)]="gridsterOptions.dragAndDrop" value="true"
						(change)="gridster.setOption('dragAndDrop', gridsterOptions.dragAndDrop)"><label for="draggable">Draggable</label>

		<input type="checkbox" [(ngModel)]="gridsterOptions.resizable" value="true" id="resizable"
						(change)="gridster.setOption('resizable', gridsterOptions.resizable)"><label for="resizable">Resizable</label>
		<br>
		Direction
		<label>
			<input type="radio" [(ngModel)]="gridsterOptions.direction" value="horizontal"
				(change)="gridster.setOption('direction', 'horizontal').reload()">Horizontal
		</label>
		<label>
			<input type="radio" [(ngModel)]="gridsterOptions.direction" value="vertical"
				(change)="gridster.setOption('direction', 'vertical').reload()">Vertical
		</label>
		<br>
		Max item size: {{_itemOptions.maxWidth}} x {{_itemOptions.maxHeight}}
	</div>
	<div class="widgetbar">
		<div gridsterItemPrototype [config]="{helper: true}" [w]="1" [h]="1"
			 (drop)="addWidgetFromDrag(gridster, $event)"
			 (enter)="over($event)"
			 (out)="out($event)"
			 class="gridster-item-prototype">
			Drag me (clone)<br>
			1x1
			<div _ngcontent-uoe-1="" class="gridster-item-inner" style="width: 0;height: 0;">
				<div _ngcontent-uoe-2="" class="panel-heading">
					<h5 _ngcontent-uoe-2="" class="panel-title">New widget</h5>
				</div>
			</div>
		</div>

		<div gridsterItemPrototype [config]="{helper: true}" [w]="1" [h]="2"
			(drop)="addWidgetFromDrag(gridster, $event)"
			(enter)="over($event)"
			(out)="out($event)"
			class="gridster-item-prototype">
			Drag me (clone)<br>
			1x2
			<div _ngcontent-uoe-1="" class="gridster-item-inner" style="width: 0;height: 0;">
				<div _ngcontent-uoe-2="" class="panel-heading">
					<h5 _ngcontent-uoe-2="" class="panel-title">New widget</h5>
				</div>
			</div>
		</div>

		<div gridsterItemPrototype [config]="{helper: false}" [w]="2" [h]="1"
			(drop)="addWidgetFromDrag(gridster, $event)"
			(enter)="over($event)"
			(out)="out($event)"
			class="gridster-item-prototype">
			Drag me <br>
			2x1
			<div _ngcontent-uoe-1="" class="gridster-item-inner" style="width: 0;height: 0;">
				<div _ngcontent-uoe-2="" class="panel-heading">
					<h5 _ngcontent-uoe-2="" class="panel-title">New widget</h5>
				</div>
			</div>
		</div>
	</div>-->

	<div class="main-content" id="mainContent">

		<gridster
			#gridster1
			[options]="gridsterOptions"
			[draggableOptions]="gridsterDraggableOptions"
			(optionsChange)="optionsChange($event)"
			style="min-height: 500px;">

			<gridster-item *ngFor="let widget of widgets; let indx = index"
				#itemComp
				[options]="itemOptions"
				[dragAndDrop]="widget.dragAndDrop" [resizable]="widget.resizable"
				[(x)]="widget.x" [(y)]="widget.y"
				[(xSm)]="widget.xSm" [(ySm)]="widget.ySm"
				[(xMd)]="widget.xMd" [(yMd)]="widget.yMd"
				[(xLg)]="widget.xLg" [(yLg)]="widget.yLg"
				[(xXl)]="widget.xXl" [(yXl)]="widget.yXl"
				[(w)]="widget.w" [(h)]="widget.h"
				(change)="_itemChange($event)">

				<div class="panel-heading">
					<div>
						<h5 class="panel-title">{{ widget.title }}</h5>
					</div>
					<div>
						<span
							class="fa fa-times"
							style="color: red; padding: 0.5rem; cursor: pointer;"
							(click)="_remove($event, indx, gridster1)">
						</span>
					</div>
				</div>

				<div class="panel-body">
					<!--<p>
						<label>
							<input type="checkbox" [(ngModel)]="widget.dragAndDrop" value="true"> Draggable
						</label>
						<label>
							<input type="checkbox" [(ngModel)]="widget.resizable" value="true"> Resizable
						</label>
						<button (click)="setWidth(widget, widget.w+1, $event, gridster1)">width +</button>
						<button (click)="setWidth(widget, widget.w-1, $event, gridster1)">width -</button>
						<button (click)="setHeight(widget, widget.h+1, $event, gridster1)">height +</button>
						<button (click)="setHeight(widget, widget.h-1, $event, gridster1)">height -</button>
					</p>
					<p>
						<button (click)="remove($event, indx,gridster1)">remove</button>
					</p>
					<p>
						Position: {{itemComp?.item?.x}} x {{itemComp?.item?.y}}<br>
						Size: {{widget.w}} x {{widget.h}}
					</p>
					<pre style="position: absolute">{{ widget | json }}</pre>-->
					<visualizations [dashMode]="true" [savedVis]="widget.visualization"></visualizations>
				</div>
			</gridster-item>
		</gridster>
	</div>
</div>
